@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.journey__like-img_active {
  animation: heartBeat .4s;
  background-image: url('../../../../images/like-icon_active.svg');
  background-repeat: no-repeat;
  background-position: cover;
}

.journey__like-img_active:hover {
  opacity: 1;
}
