.journey__delete-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 2;
  transition: opacity .4s ease-in-out;
  background-image: url('../../../images/delete-icon.svg');
  height: 19px;
  width: 18px;
  background-size: 19px 18px;
  background-repeat: no-repeat;
  background-position: center;

}

.journey__delete-btn:hover {
  opacity: .6;
}
