.popup__close-btn {
  position: absolute;
  right: -40px;
  top: -40px;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .4s ease-in-out;
}

.popup__close-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 600px) {
  .popup__close-btn {
    right: 0;
    top: -35px;
  }
}
