.card-add-btn {
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222;
  border: 2px solid #fff;
  padding: 12px 61px;
  transition: opacity .4s ease-in-out;
}

.card-add-btn:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .card-add-btn {
    font-size: 30px;
    max-width: 288px;
    width: 100%;
    padding: 15px 64px;
  }
}

